            <!DOCTYPE html>
            <html lang="en">

            <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Trabalho Arquitetura</title>

                <!-- Material Design Icons -->
                <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

                <!-- Font Awesome -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

                <!-- Bootstrap core CSS -->
                <link href="css/bootstrap.min.css" rel="stylesheet">

                <!-- Material Design Bootstrap -->
                <link href="css/mdb.css" rel="stylesheet">

            </head>

            <body ng-app="AppQuestaoDeConcurso">
                <div class="container">
                <!--Navbar -->
                <nav class="navbar blue navbar-fixed-top">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                                <!-- Link para voltar ao inicio -->
                                <a class="navbar-brand waves-effect waves-light" href="#">Questões</a>

                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                                <ul class="nav navbar-nav">
                                    <li><a href="#" class="waves-effect waves-light">Sobre</a></li>

                                    <!-- Dropdown para acessar as opçoes de conta do usuário -->
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" role="button" aria-expanded="false">Conta <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Editar informações</a></li>
                                            <li><a href="#">Sair</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Barra de pesquisa -->
                                <form class="navbar-form navbar-right" role="search" >

                                    <div class="form-group waves-effect waves-light ">
                                        <input type="text" class="form-control" placeholder="Pesquisar">


                                    </div>
                                </form>
                            </div>
                        </div>
                    </nav>
                    </div>

                <div class="text-center container">

                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="container">
                         <h3 id="titulo_pagina" class="h3-responsive">Grupos</h3>
                    </div>


                <!--Abas para filtragem dos grupos-->
                <ul class="nav nav-tabs ">
                    <li role="presentation " class="waves-effect waves-dark">
                        <a href="#">Todos</a>
                    </li>
                    <li role="presentation "  class="waves-effect waves-dark">
                        <a href="#">Favoritos</a>
                    </li>
                    <li role="presentation "  class="waves-effect waves-dark">
                        <a href="#">Novo</a>
                    </li>

                </ul>

                <ul>
                    <li>
                        <!--Formulario de criação de um grupo-->
                    <div class="card-panel  hoverable container " ng-controller="grupoController">
                        <div class=" center-on-small-only">
                            <div class="row text-center">


                                <form class="col-md-12">
                                    <div class="input-field col-md-12">
                                <input  id="nome_grupo" type="text" class="validate" ng-model="nome">
                                    <label class="active" for="nome_grupo">Nome do grupo</label>
                                </div>
                                    <div class="input-field col-md-12">
                                        <textarea id="descricao_grupo" class="materialize-textarea" ng-model="descricao"></textarea>
                                        <label for="descricao_grupo">Descrição</label>
                                    </div>
                                    <button type="button" class="btn btn-info waves-effect waves-light" ng-click="sendToServer()">Criar</button>
                                </form>

                            </div>

                        </div>
                    </div>
                    </li>
                    <li>
                        <div class="card-panel  hoverable waves-effect waves-dark container ">

                        <div class=" center-on-small-only">

                            <!--Nome do grupo-->
                            <h5 class="text-center">Grupo de exemplo</h5>
                            <br>
                            <!--Descrição-->
                            <p class="text-center">descrição exemplo descrição exemplo descrição exemplo descrição exemplo descrição  </p>
                        </div>
                        <button type="button" class="btn btn-info waves-effect waves-light ">Participar</button>
                        </div>
                    </li>
                    <li>
                        <div class="card-panel  hoverable  container ">

                        <div class=" center-on-small-only">
                             <div class="row text-center">


                                <form class="col-md-12">
                                    <div class="input-field col-md-12">
                                        <textarea id="questao_input" class="materialize-textarea"></textarea>
                                        <label for="questao_input">Questão</label>
                                    </div>
                                    <div class="input-field col-md-12">
                                        <input  id="alternativa_a" type="text" class="validate">
                                        <label class="active" for="alternativa_a">Alternativa A</label>
                                    </div>
                                    <div class="input-field col-md-12">
                                        <input  id="alternativa_b" type="text" class="validate">
                                        <label class="active" for="alternativa_b">Alternativa B</label>
                                    </div>
                                    <div class="input-field col-md-12">
                                        <input  id="alternativa_c" type="text" class="validate">
                                        <label class="active" for="alternativa_c">Alternativa C</label>
                                    </div>
                                    <div class="input-field col-md-12">
                                        <input  id="alternativa_d" type="text" class="validate">
                                        <label class="active" for="alternativa_d">Alternativa D</label>
                                    </div>
                                    <label for="alternativa_correta">Alternativa Correta</label>
                                    <ul class="list-inline">
                                        <li>
                                            <p>
                                                <input type="checkbox" id="alt_a"  />
                                                <label for="alt_a">A</label>
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" id="alt_b" />
                                                <label for="alt_b">B</label>
                                            </p>
                                        </li><li>
                                            <p>
                                                <input type="checkbox" id="alt_c"  />
                                                <label for="alt_c">C</label>
                                            </p>
                                        </li><li>
                                            <p>
                                                <input type="checkbox" id="alt_d"  />
                                                <label for="alt_d">D</label>
                                            </p>
                                        </li>
                                        
                                    </ul>
                                    
                                    <button type="button" class="btn btn-info waves-effect waves-light">Criar</button>
                                    
                                </form>

                            </div>

                            </div>
                        </div>
                    </li>
                     <li>
                        <!--Card de questoes-->
                    <div class="card-panel  hoverable container ">
                        <div class=" center-on-small-only">
                            <div class="row text-center">


                                <p id="questao">QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao QUEStao </p>
                                <ul>
                                        <li>
                                            <p>
                                                <input type="checkbox" id="alt_a"  />
                                                <label for="alternativa_a">A</label>
                                                alternativa alternativa alternativa alternativa 
                                            </p>
                                        </li>
                                        <li>
                                            <p>
                                                <input type="checkbox" id="alt_b" />
                                                <label for="alternativa_b">B</label>
                                                alternativa alternativa alternativa alternativa 
                                            </p>
                                        </li><li>
                                            <p>
                                                <input type="checkbox" id="alt_c"  />
                                                <label for="alternativa_c">C</label>
                                                alternativa alternativa alternativa alternativa 
                                            </p>
                                        </li><li>
                                            <p>
                                                <input type="checkbox" id="alt_d"  />
                                                <label for="alternativa_d">D</label>
                                                alternativa alternativa alternativa alternativa 
                                            </p>
                                        </li>
                                        
                                    </ul>
                                
                                
                                <button type="button" class="btn btn-info waves-effect waves-light">ver resposta</button>
                            </div>

                        </div>
                    </div>
                    </li>

                </ul>

                </div>

                    <div class="text-center center-on-small-only">
                        <ul class="pagination pag-circle">
                            <li><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                        </ul>  


                    </div>
                <!-- SCRIPTS -->

                <!-- JQuery -->
                <script type="text/javascript" src="js/jquery.min.js"></script>

                <!-- Bootstrap core JavaScript -->
                <script type="text/javascript" src="js/bootstrap.min.js"></script>

                <!-- Material Design Bootstrap -->
                <script type="text/javascript" src="js/mdb.js"></script>

            </body>

            </html>